
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Configurações";
}

<div class="container">
    <div class="row" style="margin: 50px">
        <div class="col-md-6">
            <a href="#">trocar imagens do carrossel</a>
        </div>
        <div class="col-md-6">
            <a href="#">Limpar dados</a>
        </div>
    </div>
    
</div>
