@model IEnumerable<CasaDaVideira.Model.Database.Model.Categoria>
@using CasaDaVideira.Model.Database.Utils
@{
    var usuario = LoginUtils.Usuario;
    ViewBag.Title = "Categorias";
}
<div class="container">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                @if (usuario != null && usuario.Admin && item !=null)
                {
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    </table>
</div>