@model IEnumerable<CasaDaVideira.Model.Database.Model.Produto>
@using CasaDaVideira.Model.Database.Utils
@using CasaDaVideira.Model.Database.Model
@{
    ViewBag.Title = "Index";
    var categorias = ViewBag.Categorias;
    var qtdPaginas = ViewBag.QtdPaginas;
}
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>Categorias</h2>
                <ul class="cate">
                    @* <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Fruits And Vegetables</a></li>*@
                    <ul>
                        @foreach (Categoria item in categorias)
                        {
                        <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>@item.Nome</a></li>
                        }
                    </ul>

                </ul>
            </div>
        </div>
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids">
                    <div class="sorting">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Ordena&ccedil;&atilde;o em breve</option>
                        </select>
                    </div>
                    <div class="sorting-left">
                        <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>Filtros em breve</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div>
                @Html.Partial("_ProdutosPaginados", Model);
            </div>
            <nav class="numbering">
                <ul class="pagination paging">
                    <li>
                        <a href="#" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= qtdPaginas; i++)
                    {
                        <li><a href="#">@i</a></li>
                    }
                    <li>
                        <a href="#" aria-label="Pr&oacute;xino">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
